[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
flask-restplus = "*"
flask-redis = "*"
gunicorn = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}
gevent = "*"
raven = {version = "*", extras = ["flask"]}
structlog = "*"
python-json-logger = "*"
webargs = "*"
rq = "*"
rq-dashboard = "*"
memote = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
codecov = "*"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
colorama = "*"

[requires]
python_version = "3.6"
